# Ignorar arquivos e diretórios específicos para o projeto C#
apiRegistro/bin/
apiRegistro/obj/
apiRegistro/*.suo
apiRegistro/*.user

# Docker
apiRegistro/.docker/
apiRegistro/docker-compose.yml
apiRegistro/Dockerfile
apiRegistro/*.env

ApiRegistro/obj/
ApiRegistro/bin/

# Ignorar arquivos e diretórios específicos para o projeto Angular
AngularRegistro/node_modules/
AngularRegistro/dist/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
AngularRegistro/dist/
AngularRegistro/tmp/
AngularRegistro/out-tsc/
AngularRegistro/bazel-out/

# Node
AngularRegistro/node_modules/
AngularRegistro/npm-debug.log
AngularRegistro/yarn-error.log

# IDEs and editors
AngularRegistro/.idea/
AngularRegistro/.project
AngularRegistro/.classpath
AngularRegistro/.c9/
AngularRegistro/*.launch
AngularRegistro/.settings/
AngularRegistro/*.sublime-workspace

# Visual Studio Code
AngularRegistro/.vscode/*
!AngularRegistro/.vscode/settings.json
!AngularRegistro/.vscode/tasks.json
!AngularRegistro/.vscode/launch.json
!AngularRegistro/.vscode/extensions.json
AngularRegistro/.history/*

# Miscellaneous
AngularRegistro/.angular/cache
AngularRegistro/.sass-cache/
AngularRegistro/.connect.lock
AngularRegistro/coverage
AngularRegistro/libpeerconnection.log
AngularRegistro/testem.log
AngularRegistro/typings

# System files
AngularRegistro/.DS_Store
AngularRegistro/Thumbs.db
